@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #9370db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}


.slots input {
    width: 80px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    text-align: center;
}

.steps button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

button {
    padding: 10px 18px;
    background-color: #9370db;
    color: white;
    border-radius: 6px;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: white;
    color: #9370db;
    border: 2px solid #9370db;
}

