@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #9370db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}



.hidden { display: none; }
span { font-size: 24px; margin: 0 10px; }
